body {
  font-family: sans-serif;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}
form {
  background: #fff;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 6px #ccc;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
h2 {
  margin-top: 0;
}
label {
  margin: 6px 0;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="date"],
input[type="number"],
input[type="tel"] {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 2px;
  font-size: 15px;
}
button {
  margin-top: 12px;
  padding: 10px;
  border: none;
  background: #006aff;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: #004baf;
}
#status {
  max-width: 400px;
  margin: 10px auto;
  padding: 5px 10px;
  color: #444;
}
@media(max-width:500px) {
  form { max-width: 98vw; }
}